# Práctica 2: Data Wrangling con Pandas (II. Limpieza)

En esta fase será tratar los datos que estén mal recogidos (valores faltantes, incompletos, etc.) para poder eliminarlos o corregirlos.

Se nos dice lo siguiente:

* Hay fechas que se han guardado como "2069" en vez de "1969".
* Hay fechas cuyo año está puesto con dos cifras en vez de 4.

Tenemos por ejemplo la columna de la fecha de nacimiento donde las fechas están mal. Para observarlas más detenidamente haremos el siguiente código:

In [11]:
import pandas as pd
data = pd.read_csv('/content/MailCustomer.csv', index_col = 'CustomerKey', sep = ';', encoding = 'ISO-8859 -1')

In [12]:
# Formatea las fechas en un datetime válido
data['BirthDate'] = pd.to_datetime(data['BirthDate'], errors='coerce', yearfirst=False)

# for i in data['BirthDate']:
#   timeData = pd.to_datetime(i)
#   if timeData.year > 2014:
#     timeData = timeData.replace(year = timeData.year - 100)

"""
La función lambda se utiliza para corregir fechas erróneas en la columna BirthDate.
Si el año de la fecha es mayor a 2014, se le resta 100 años usando pd.DateOffset(years=100).
En caso contrario, la fecha se deja sin cambios.
Esto asegura que las fechas de nacimiento sean plausibles.
"""

data['BirthDate'] = data['BirthDate'].apply(
    lambda x: x - pd.DateOffset(years=100) if x and x.year > 2014 else x
)

data

<ipython-input-12-47a1d4df244a>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['BirthDate'] = pd.to_datetime(data['BirthDate'], errors='coerce', yearfirst=False)

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,1966-04-08,M,NaN,...,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,49,1
11001,37,AW00011001,NaN,Eugene,L,Huang,0,1965-05-14,S,NaN,...,0,1,2243 W St.,NaN,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,50,1
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,1965-08-12,M,NaN,...,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,50,1
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,1968-02-15,S,NaN,...,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,47,1
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,1968-08-08,S,NaN,...,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,NaN,Tommy,L,Tang,0,1958-07-04,M,NaN,...,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,3/8/07,0-1 Miles,Europe,57,1
29480,248,AW00029480,NaN,Nina,W,Raji,0,1960-11-10,S,NaN,...,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,1/18/2008,0-1 Miles,Europe,54,1
29481,120,AW00029481,NaN,Ivan,NaN,Suri,0,1960-01-05,S,NaN,...,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2/13/2006,0-1 Miles,Europe,55,1
29482,179,AW00029482,NaN,Clayton,NaN,Zhang,0,1959-03-05,M,NaN,...,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,3/22/2007,0-1 Miles,Europe,56,1
29483,217,AW00029483,NaN,Jsus,L,Navarro,0,1959-12-08,M,NaN,...,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,3/13/2007,0-1 Miles,Europe,55,1

Lo siguiente será modificar la columna `Age` para que la información esté ajustada a los datos de la columna `BirthDate`. Para

In [13]:
from datetime import datetime

today = datetime.now()

for i in data.index:
  birth_date = data.loc[i, 'BirthDate']  # Use loc with the index and column name
  if pd.notnull(birth_date):  # Verificar que la fecha no sea nula
      age = today.year - birth_date.year
      # Ajustar si la persona no ha cumplido años este año
      if (today.month, today.day) < (birth_date.month, birth_date.day):
          age -= 1
      # Actualizar la columna 'Age'
      data.loc[i, 'Age'] = age
  else:
      data.loc[i, 'Age'] = None  # Dejar en blanco si no hay fecha de nacimiento

data

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,1966-04-08,M,NaN,...,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,58,1
11001,37,AW00011001,NaN,Eugene,L,Huang,0,1965-05-14,S,NaN,...,0,1,2243 W St.,NaN,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,59,1
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,1965-08-12,M,NaN,...,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,59,1
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,1968-02-15,S,NaN,...,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,56,1
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,1968-08-08,S,NaN,...,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,56,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,NaN,Tommy,L,Tang,0,1958-07-04,M,NaN,...,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,3/8/07,0-1 Miles,Europe,66,1
29480,248,AW00029480,NaN,Nina,W,Raji,0,1960-11-10,S,NaN,...,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,1/18/2008,0-1 Miles,Europe,64,1
29481,120,AW00029481,NaN,Ivan,NaN,Suri,0,1960-01-05,S,NaN,...,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2/13/2006,0-1 Miles,Europe,64,1
29482,179,AW00029482,NaN,Clayton,NaN,Zhang,0,1959-03-05,M,NaN,...,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,3/22/2007,0-1 Miles,Europe,65,1
29483,217,AW00029483,NaN,Jsus,L,Navarro,0,1959-12-08,M,NaN,...,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,3/13/2007,0-1 Miles,Europe,64,1

Para los valores faltantes podemos reemplazar los valores con otro (como `None`), eliminarlos o hacer otro tratamiento dependiendo del caso.

In [14]:
data = data.fillna("None")
print(data.isnull().sum().sort_values(ascending = False)) # Comprobamos que ya no hay valores nulos

GeographyKey            0
SpanishEducation        0
Age                     0
Region                  0
CommuteDistance         0
DateFirstPurchase       0
Phone                   0
AddressLine2            0
AddressLine1            0
NumberCarsOwned         0
HouseOwnerFlag          0
FrenchOccupation        0
SpanishOccupation       0
EnglishOccupation       0
FrenchEducation         0
EnglishEducation        0
CustomerAlternateKey    0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
EmailAddress            0
Gender                  0
Suffix                  0
MaritalStatus           0
BirthDate               0
NameStyle               0
LastName                0
MiddleName              0
FirstName               0
Title                   0
BikeBuyer               0
dtype: int64

Lo siguiente será buscar si en las columnas existen valores duplicados, si existen valores duplicados en nuestro dataframe tendremos que eliminarlos apropiadamente.

In [15]:
# Primero localizaremos en todas las columnas si existen valores duplicados
duplicados_phone = data.duplicated(subset=['Phone'])
duplicados_add2 = data.duplicated(subset=['AddressLine1'])
duplicados_email = data.duplicated(subset=['EmailAddress'])
print(duplicados_phone)

CustomerKey
11000    False
11001    False
11002    False
11003     True
11004    False
         ...
29479     True
29480     True
29481     True
29482     True
29483     True
Length: 18484, dtype: bool

Vemos que se han encontrado valores duplicados con los valores que hay en `True`. Por lo que tendremos que eliminar dichos duplicados

In [16]:
# Borrado de duplicados
data = data.drop_duplicates(subset=['Phone'])
data = data.drop_duplicates(subset=['AddressLine1'])
data = data.drop_duplicates(subset=['EmailAddress'])
print(data.duplicated(subset=['Phone']))

CustomerKey
11000    False
11001    False
11002    False
11004    False
11005    False
         ...
29348    False
29349    False
29350    False
29351    False
29354    False
Length: 7954, dtype: bool

### Segundo análisis exploratorio

Volveremos ha realizar algunas consultas como antes para ver que el proceso de limpieza ha sido un éxito.

In [17]:
print(data.head())
print("-" * 35)
print(data.tail())

             GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000  None        Jon          V
11001                  37           AW00011001  None     Eugene          L
11002                  31           AW00011002  None      Ruben       None
11004                  19           AW00011004  None  Elizabeth       None
11005                  22           AW00011005  None      Julio       None

            LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                      ...
11000           Yang          0 1966-04-08             M   None  ...
11001          Huang          0 1965-05-14             S   None  ...
11002         Torres          0 1965-08-12             M   None  ...
11004        Johnson          0 1968-08-08             S   None  ...
11005           Ruiz          0 1965-08-05             S   None  ...

            HouseOwnerFlag NumberCarsOwned         AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0      3761 N. 14th St          None
11001                    0               1           2243 W St.          None
11002                    1               1     5844 Linden Land          None
11004                    1               4  7553 Harness Circle          None
11005                    1               1  7305 Humphrey Drive          None

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11004        1 (11) 500 555-0131         7/26/2005       1-2 Miles  Pacific
11005        1 (11) 500 555-0151            7/2/05      5-10 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        58         1
11001        59         1
11002        59         1
11004        56         1
11005        59         1

[5 rows x 31 columns]
-----------------------------------
             GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
CustomerKey
29348                 637           AW00029348  None     Miguel       None
29349                 548           AW00029349  None  Gabrielle       None
29350                 383           AW00029350  None      Julia       None
29351                  49           AW00029351  None      Jason          A
29354                 627           AW00029354  None     Isaiah          B

             LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                       ...
29348          Bryant          0 1965-07-15             M   None  ...
29349          Bryant          0 1965-10-04             S   None  ...
29350        Thompson          0 1965-11-09             S   None  ...
29351            Hall          0 1965-06-26             S   None  ...
29354         Edwards          0 1965-09-11             S   None  ...

            HouseOwnerFlag NumberCarsOwned            AddressLine1  \
CustomerKey
29348                    1               1      261 Oak Park Blvd.
29349                    0               2             25 La Jolla
29350                    1               2  1774 Tice Valley Blvd.
29351                    0               2        8618 Rose Street
29354                    1               0     3694 Sun View Court

             AddressLine2         Phone DateFirstPurchase CommuteDistance  \
CustomerKey
29348                None  716-555-0159         2/24/2008       2-5 Miles
29349                None  202-555-0116         1/26/2008       0-1 Miles
29350                None  120-555-0111         2/15/2006       2-5 Miles
29351                None  158-555-0156         4/13/2008       0-1 Miles
29354                None  727-555-0161         2/23/2006       2-5 Miles

                    Region Age BikeBuyer
CustomerKey
29348        North America  59         0
29349        North America  59         0
29350        North America  59         1
29351        North America  59         0
29354        North America  59         1

[5 rows x 31 columns]

In [18]:
print (data.isnull().sum().sort_values(ascending = False))

GeographyKey            0
SpanishEducation        0
Age                     0
Region                  0
CommuteDistance         0
DateFirstPurchase       0
Phone                   0
AddressLine2            0
AddressLine1            0
NumberCarsOwned         0
HouseOwnerFlag          0
FrenchOccupation        0
SpanishOccupation       0
EnglishOccupation       0
FrenchEducation         0
EnglishEducation        0
CustomerAlternateKey    0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
EmailAddress            0
Gender                  0
Suffix                  0
MaritalStatus           0
BirthDate               0
NameStyle               0
LastName                0
MiddleName              0
FirstName               0
Title                   0
BikeBuyer               0
dtype: int64

### Conclusión

Tras el nuevo análisis hemos conseguido los siguientes logros:

* Formateo de fechas
* Tratado de valores faltantes
* Tratado de valores duplicados

Tras la fase de limpieza podemos empezar con la transformación de los datos.

In [19]:
# data['BirthDate'] = data['BirthDate'].dt.strftime('%d/%m/%Y')
data.to_csv('MailCustomer_clean.csv', index=True, sep=";", encoding="ISO-8859-1")

In [ ]:
data

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,None,Jon,V,Yang,0,08/04/1966,M,None,...,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,58,1
11001,37,AW00011001,None,Eugene,L,Huang,0,14/05/1965,S,None,...,0,1,2243 W St.,None,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,59,1
11002,31,AW00011002,None,Ruben,None,Torres,0,12/08/1965,M,None,...,1,1,5844 Linden Land,None,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,59,1
11004,19,AW00011004,None,Elizabeth,None,Johnson,0,08/08/1968,S,None,...,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,56,1
11005,22,AW00011005,None,Julio,None,Ruiz,0,05/08/1965,S,None,...,1,1,7305 Humphrey Drive,None,1 (11) 500 555-0151,7/2/05,5-10 Miles,Pacific,59,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29348,637,AW00029348,None,Miguel,None,Bryant,0,15/07/1965,M,None,...,1,1,261 Oak Park Blvd.,None,716-555-0159,2/24/2008,2-5 Miles,North America,59,0
29349,548,AW00029349,None,Gabrielle,None,Bryant,0,04/10/1965,S,None,...,0,2,25 La Jolla,None,202-555-0116,1/26/2008,0-1 Miles,North America,59,0
29350,383,AW00029350,None,Julia,None,Thompson,0,09/11/1965,S,None,...,1,2,1774 Tice Valley Blvd.,None,120-555-0111,2/15/2006,2-5 Miles,North America,59,1
29351,49,AW00029351,None,Jason,A,Hall,0,26/06/1965,S,None,...,0,2,8618 Rose Street,None,158-555-0156,4/13/2008,0-1 Miles,North America,59,0
29354,627,AW00029354,None,Isaiah,B,Edwards,0,11/09/1965,S,None,...,1,0,3694 Sun View Court,None,727-555-0161,2/23/2006,2-5 Miles,North America,59,1